body {
	background-color: #fff;
	color: #000;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
}

a {
	text-decoration: none;
}
a:link, a:visited {
	color: black;
}
a:hover {
	color: #4b2e83;
}

/* applies to all .html files */
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.container h1 {
	color: #05386b;
}

#navbar ul {
	padding: 0;
	list-style: none;
	text-align: center;
}

#navbar li {
	display: inline;
	text-align: center;
}

#navbar a {
	text-decoration: none;
	font-size: 18px;
	padding-right: 20px;
}

#footer {
	text-align: center;
}

/* for index.html */
#main-header {
	font-size: 20px;
	text-align: center;
}

#showcase {
	padding-top: 30px;
}

#showcase img {
	float: right;
	height: 325px;
}

#hard-skills {
	float: left;
	width: 50%;
	box-sizing: border-box;
	text-align: center;
}

#hard-skills ul {
	padding: 0;
	list-style: none;
	text-align: center;
}

#soft-skills {
	float: right;
	width: 50%;
	box-sizing: border-box;
	text-align: center;
}

#soft-skills ul {
	padding: 0;
	list-style: none;
	text-align: center;
}

#more {
	text-align: center;
}

#more ul {
	padding: 0;
	list-style: none;
	text-align: center;
}

#more li {
	text-align: center;
}

/* for education.html */ 
#education-header {
	font-size: 20px;
	text-align: center;
}

#edu-showcase h2 {
	color: #05386b;
}

#edu-showcase img {
	float: right;
	height: 375px;
	width: 600px;
}

/* for projects.html */ 

#proj-header {
	font-size: 20px;
	text-align: center;
}

#proj-showcase img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#proj-showcase h1 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 50px;
}

#proj-showcase h2 {
	text-align: center;
}

#proj-showcase h3 {
	text-align: center;
}

/* for social.html */ 

#soc-header {
	font-size: 20px;
	text-align: center;
}

#soc-showcase h1 {
	text-align: center;
}

#soc-showcase h3 {
	text-align: center;
}

#soc-showcase img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}








