* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    background: #14213d;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    color: #e5e5e5;
}
.container h1 {
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background: #fca311;
}
.nav-logo {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    color: black;
}
.nav-logo a {
    text-decoration: none;
    text-rendering: geometricPrecision;
    position: relative;
    display: block;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    transition: transform .3s cubic-bezier(0.55, 0, 0.55, 0.2);
    transform-origin: 50% 30%;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav-links li {
    list-style: none;
}
.nav-links li a {
    text-decoration: none;
    text-rendering: geometricPrecision;
    position: relative;
    display: block;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    transition: transform .3s cubic-bezier(0.55, 0, 0.55, 0.2);
    transform-origin: 50% 30%;
}

.nav-links a:hover {
    color: #e5e5e5;
    transform: scale(1.2);
}
.nav-logo a:hover {
    color: #e5e5e5;
    transform: scale(1.2);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    opacity: 85%;
}
.sticky + .content {
    padding-top: 60px;
}

#main img {
    height: auto;
    width: 84%;
    display: block;
    padding-top: 8rem;
    padding-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;

}
.main-container {
    background: #e5e5e5;
}
.main-container p {
    color: #14213d;
}

.about-me {
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.working-on {
    color: #14213d;
    padding-bottom: 3rem;
    text-align: center;
}
.working-on h3 {
    padding: 2rem 0;
    color: #fca311;
    font-size: 40px;
}

.education-container {
    background: #fca311;
}
.education {
    color: #14213d;
    padding-bottom: 3rem;
}
.edu-header {
    color: #14213d;
}
.education h3 {
    font-size: 28px;
}
.education h4 {
    font-size: 24px;
    color: #565f74;
}
.education h5 {
    padding-bottom: 1rem;
}
.education li {
    padding-left: 3rem;
    list-style-position: inside;
    padding-bottom: .3rem;
}

.experience-container {
    background: #e5e5e5;
    padding-bottom: 3rem;
}
.job {
    text-align: left;
}
.job h3 {
    color: #14213d;
    font-size: 1.8rem;
}
.job h5 {
    color: #565f74;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}
.job ul {
    padding-bottom: 2rem;
}
.job li {
    color: #14213d;
    padding-left: 3rem;
    list-style-position: inside;
    padding-bottom: .3rem;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 3rem;
    background: #e5e5e5;
    color: #14213d;
}
.card h2 {
    margin-bottom: 2rem;
}
.card img {
    height: 400px;
}
.card > div {
    padding: 2rem;
}
.card:nth-child(even) img {
    order: 2;
}

.btn {
    display: inline-block;
    background: #fca311;
    color: #14213d;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.8;
}
.container h1 {
    color: #fca311;
}

#footer {
    height: 10vh;
    background: #fca311;
    text-align: center;
    color: #14213d;
}
#footer p {
    padding-top: 25px;
}

@media(max-width: 768px) {
    .card {
        display: block;
    }
}

@media screen and (max-width:768px) {
    
    nav {
        position: relative;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 20;
    }
    .line {
        width: 30px;
        height: 3px;
        background: black;
        margin: 5px;
    }
    .nav-links {
        position: fixed;
        background: #fca311;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        align-items: center;
        justify-content: center;
        padding-top: 15rem;
    }
    .nav-links li a {
        font-size: 16px;
        padding-top: 4rem;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
}