*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}

body {
	background-image: linear-gradient(to right, #ffffff,#cccecc);
}

nav a:hover {
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-image: linear-gradient(to right, #a09f9f,#000000);
    opacity: 70%;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 22px;
    color: rgb(255, 255, 255);

}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 2px;
    color: rgb(221, 217, 217);
    font-weight: bold;
    font-size: 16px;
}

.banner img {
    margin: 20px;
    width: 40%;
    height: auto;
}

.banner h1 {
    font-size: 50px;
    text-align: center;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 50%;
    }
}
