body {
	background-color: #fff;
	color: #000;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
}

a {
	text-decoration: none;
}
a:link, a:visited {
	color: black;
}
a:hover {
	color: #4b2e83;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}


#main-header {
	font-size: 30px;
	text-align: center;
}

#education-header {
	font-size: 20px;
	text-align: center;
}


#navbar ul {
	padding: 0;
	list-style: none;
	text-align: center;
}

#navbar li {
	display: inline;
	text-align: center;
}

#navbar a {
	text-decoration: none;
	font-size: 18px;
	padding-right: 20px;
}

#showcase {
	padding-top: 30px;
}

#showcase img {
	float: right;
	height: 400px;
}

#edu-showcase img {
	float: right;
	height: 375px;
	width: 600px;
}

#hard-skills {
	float: left;
	width: 50%;
	box-sizing: border-box;
	text-align: center;
}

#hard-skills ul {
	padding: 0;
	list-style: none;
	text-align: center;
}

#soft-skills {
	float: right;
	width: 50%;
	box-sizing: border-box;
	text-align: center;
}

#soft-skills ul {
	padding: 0;
	list-style: none;
	text-align: center;
}

#footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}











